<h2>Detalle del Evento Programado</h2>

<span *ngIf="noExiste">Evento con el codigo {{idEventoProgramado}} no existe </span>


<form [formGroup]="detalleForm" *ngIf="!noExiste">

  <mat-form-field appearance="fill">
    <mat-label>Id de Evento</mat-label>
    <input matInput formControlName="idEve" readonly="true">
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Tour</mat-label>
    <mat-select matInput formControlName="tour">
      <mat-option *ngFor="let tour of listaTours" [value]="tour.id">{{tour.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput formControlName="fechaEve">

  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad de Pasajeros</mat-label>
    <input matInput formControlName="cantPasajerosEve">

  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Costo Total/</mat-label>
    <input matInput formControlName="costoEve">


  </mat-form-field>


</form>

<br>
<button *ngIf="!noExiste" mat-flat-button color="primary" (click)="grabarEvento()"
  [disabled]="detalleForm.invalid">Grabar</button>
<span *ngIf="!noExiste"> | </span>
<button mat-flat-button color="accent" routerLink="/empleado/lista">Cancelar</button>