<h2>Detalle del Cliente</h2>

<span *ngIf="noExiste">Cliente con el codigo {{idCliente}} no existe </span>


<form [formGroup]="detalleForm" *ngIf="!noExiste">

  <mat-form-field appearance="fill">
    <mat-label>Id de Cliente</mat-label>
    <input matInput formControlName="idCli" readonly="true">
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombresCli">
    <span style="color: red;"
      *ngIf="detalleForm.get('nombresCli')?.hasError('minlength') && detalleForm.get('nombresCli')?.touched">Debe tener
      un minimo de 5 caracteres</span>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Telefono</mat-label>
    <input matInput formControlName="telefonoCli">
    <span style="color: red;"
      *ngIf="detalleForm.get('telefonoCli')?.hasError('minlength') && detalleForm.get('telefonoCli')?.touched">Debe
      tener un minimo de 5 caracteres</span>

  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput formControlName="correoCli">
    <span style="color: red;"
      *ngIf="detalleForm.get('correoCli')?.hasError('minlength') && detalleForm.get('correoCli')?.touched">Debe tener un
      minimo de 5 caracteres</span>

  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <mat-select matInput formControlName="usuario">
      <mat-option *ngFor="let usuario of listaUsuarios" [value]="usuario.id">{{usuario.userName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-label>Foto</mat-label>
    <br>
    <span>Elegir una foto...</span>
    <input type="file" accept="image/png image/jpeg" (change)="seleccionaFoto($event)">
  </div>


</form>

<br>
<button *ngIf="!noExiste" mat-flat-button color="primary" (click)="grabarCliente()"
  [disabled]="detalleForm.invalid">Grabar</button>
<span *ngIf="!noExiste"> | </span>
<button mat-flat-button color="accent" routerLink="/cliente/lista">Cancelar</button>