.example-card {
    margin: auto; 
    padding: 10px; /* Añadir espaciado interno */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                url('https://www.latercera.com/resizer/B8wocs3Ghmi2eF50ydIRrtI0WKY=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/EXO64WTUY5CDDMNISRDRS7WB7Q.jpg'); /* Añade la imagen de fondo con una capa semi-transparente encima */
    border-radius: 0;
  }
  
  
  mat-card-title {
    font-family: 'Raleway', sans-serif; 
    font-size: 50px; 
    font-weight: bold; 
    color: #27584b; 
    margin: 10px;
  }
  
  mat-card-subtitle {
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
    font-weight: bold; 
    margin: 10px;
    color: #010901; 
  }
  
  mat-card-content {
    font-size: 25px;
    margin: 20px;
    text-align: left;
    color: #000000; 
    font-family:  'Raleway', sans-serif; /* Aplica la fuente Merriweather */
  }
  
  